<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.danielbachelor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DanielBachelor">

        <activity

            android:name=".anmeldung.anmeldungActivity"
            android:label="@string/title_activity_anmeldung"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hauptmenu.hauptmenuActivity"
            android:label="@string/title_activity_hauptmenu" />
        <activity
            android:name=".hwshinzufuegen.hwshinzufuegenActivity"
            android:label="@string/title_activity_hwshinzufuegen" />
        <activity
            android:name=".hwsuebersicht.hwsuebersichtActivity"
            android:label="@string/title_activity_hwsuebersicht" />
        <activity
            android:name=".profil.profilActivity"
            android:label="@string/title_activity_profil" />
        <activity
            android:name=".registrierung.registrierungActivity"
            android:label="@string/title_activity_registrierung" />
        <activity
            android:name=".routenergebnis.routenergebnisActivity"
            android:label="@string/title_activity_routenergebnis" />
        <activity
            android:name=".suche.sucheActivity"
            android:label="@string/title_activity_suche" />
        <activity
            android:name=".suchergebnis.suchergebnisActivity"
            android:label="@string/title_activity_suchergebnis" />

        <service
            android:name=".MyFirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>